.contact-form-map {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
@media (max-width: 900px){
.contact-container {
    max-width: 900px;
    width: 100%;
}    
.contact-form-map {
    flex-direction: "column";
    flex-wrap: wrap;
}
}