.header-mobile-container {
    display: flex;
    justify-content: space-between;

    width: 100vw;
    padding: 20px 0;
    z-index: 4;
}

.logo-mobile-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.footer-mobile-links {
    text-decoration: none;
    color: black;
}