.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.menu-items {
    display: flex;
    flex-direction: row;
    
}