.header-mobile-container {
    display: flex;
    justify-content: space-between;

    width: 100vw;
    padding: 20px 0;
}

.logo-mobile-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}