.aboutus-container {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10em;

}

.aboutus-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.aboutus-img-container {
    width: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.aboutus-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42.59px;
    letter-spacing: 18%;
}

.sub{ 
    font-family: "Zilla Slab";
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    max-width: 490px;

}

@media  (max-width: 900px) {
  .aboutus-title {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 50px;
  }

  .sub {
    width: 100%;
    max-width: 90%;
    font-size: 14px;
  }
  .aboutus-container {
    width: 100%;
  
    padding-left: 1em;
}

.aboutus-img-container {
    margin-top: 30px;
}

}